body{
    background-color: blanchedalmond;
    margin: 0;
}
nav{
    background-color: cadetblue;
    width:100% ;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav div{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.main{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}