<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accomplismints</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css' )}}">
</head>
<body class="done">
    <nav>
        <div><a href="{{url_for('main')}}">main page</a></div>
        <div><a href="{{url_for('members')}}">members</a></div>
        <div><a href="{{url_for('done')}}">acomplishments</a></div>
        <div><a href="{{url_for('events')}}">uppcomming events</a></div>
    </nav>
    <div id="data" hidden>{{data}}</div>
    <table id="datatable" class="datatable">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
           <th>date finished</th>
           <th>id in events</th>
        </tr>
        <!-- data goes here throug JS -->
    </table>



    <script src="{{url_for('static',filename='js/processes.js')}}"></script>
    <script src="{{url_for('static',filename='js/done.js')}}"></script>
</body>
</html>