<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css' )}}">
</head>
<body>
     <nav>
        <div><a href="{{url_for('main')}}">main page</a></div>
        <div><a href="{{url_for('members')}}">members</a></div>
        <div><a href="{{url_for('done')}}">acomplishments</a></div>
        <div><a href="{{url_for('events')}}">uppcomming events</a></div>
    </nav>
    <div  id="data" hidden>{{data}}</div>
    <table id="table" class="datatable"><!-- data goes here throug JS --></table>
    <a href="{{url_for('addmem')}}"> <button>add new</button></a>
</body>
<script src="{{url_for('static',filename='js/processes.js')}}"></script>
<script src="{{url_for('static',filename='js/members.js')}}"></script>
</html>