<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add a new event</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css' )}}">
    <link rel="shortcut icon" href="{{url_for('static', filename ='demon.png')}}" type="image/x-icon">
</head>

<body>
    <form action="" method="post">
        <h1 class="title">Create new event</h1>
        <input type="text" name="title" placeholder="event title">
        <input type="text" name="desc" id="desc" placeholder="event description">
        <input type="text" name="scale" id="scale" placeholder="event scale">
        <input type="number" name="needed" id="needed" placeholder="people needed">
        <input type="submit" value="submit event">
    </form>
</body>

</html>