<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>events evil lm</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css' )}}">
    <link rel="shortcut icon" href="{{url_for('static', filename ='demon.png')}}" type="image/x-icon">
</head>
<body>
    <nav>
        <div><a href="{{url_for('main')}}">main page</a></div>
        <div><a href="{{url_for('members')}}">members</a></div>
        <div><a href="{{url_for('done')}}">acomplishments</a></div>
        <div><a href="{{url_for('events')}}">uppcomming events</a></div>
    </nav>
    <div  id="data" hidden >{{data}}</div>
    <table id="table" class="datatable">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>event scale</th>
            <th>members needed</th>
            <th>finished</th>
            <th>count accepted</th>
            <th>actions</th>
        </tr>
    </table>
    <div style="display: flex; flex-direction: column; gap:10px;">
        <a href="/events/new_event"><button type="button">add new event</button></a>
        <a href="/events/show_all"><button type="button">show all events</button></a>
    </div>

    <script src="{{url_for('static',filename='js/processes.js')}}"></script>
    <script src="{{url_for('static',filename='js/events.js')}}"></script>
</body>
</html>